@{
	ViewData["Title"] = "Home Page";
}


<div id="resultContainer"></div>
<component type="typeof(TestLanSkærm.Components.Tournement)" render-mode="Server"/>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
